/* header */
body.menu-open{
    overflow:hidden;
}

.header-section{
    position:fixed;
    left:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.9);
    height:90px;
    z-index:100;
    backdrop-filter: blur(12px);
}

.header-section__container{
    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items:center;
    padding:0 1.2em;
    height:100%;
    max-width:1280px;
    margin:0 auto;
}

.header-section__cart-link,
.header-section__secondary-nav,
.hero-section__primary-cta,
.categories__link{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.header-section__secondary-nav{
    gap:.5rem;
    justify-self:end;
}

.mobile-menu{
    display:flex;
    position:fixed;
    flex-direction:column;
    gap:1.9rem;
    top:0;
    height:100dvh;
    right:0;
    width:70vw;
    overflow-y: auto;
    max-width:380px;
    background-color:#fff;
    z-index:999;
    padding:1.2em 0;
    transform:translateX(100%);
    transition:transform 0.3s ease;
}

.mobile-menu.is-active{
    transform:translateX(0);
}

.mobile-menu__top-row{
    padding:0 1.2em;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom:1.2em;
}

.mobile-menu__primary-list,
.mobile-menu__secondary-list{
    display:flex;
    flex-direction:column;
    gap:.3rem;
}

.mobile-menu__secondary-group{
    display:flex;
    flex-direction:column;
    gap:1.9rem;
    margin-top:auto;
    border-top:1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu__cta{
    padding:0 1.2em;
}

.search-overlay{
    visibility: hidden;
    opacity:0;
    pointer-events:none;
    position:fixed;
    inset:0;
    background:rgb(244, 244, 245);
    height:100vh;
    z-index:999;
    transform:translateY(-24px);
    transition:
    transform 0.65s cubic-bezier(0.22, 1, 0.36, 1), 
    opacity 0.45s ease;
}

.search-overlay.active{
    opacity:1;
    visibility: visible;
    transform:translateY(0);
    pointer-events:auto;
}

.search-overlay__search-group{
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.search-overlay__field{
    position:relative;
    display:flex;
    align-items:center;
    padding:.9em 0;
    border-bottom:1px solid #A8A9AD;
}

.search-overlay__header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-inline:1em;
    height:44px;
    background-color:rgb(250, 245, 237);
}

.search-overlay__content{
    display:flex;
    flex-direction:column;
    gap:3.5rem;
    padding:0 1em;
    height:100%;
    padding-top:3em;
    overflow-y:auto;
}

.search-overlay__suggestions,
.search-overlay__categories{
    display:flex;
    flex-direction:column;
    gap:1.25rem;
}

.search-overlay__suggestions-lists{
    display:flex;
    align-items:center;
    gap:.9em;
    flex-wrap:wrap;
}

.search-overlay__categories-lists{
    display:flex;
    flex-direction:column;
    gap:1.25rem;
}

.search-overlay__categories-link{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom:.5em;
}

.search-overlay__image-wrapper,
.best-sellers__filter-lists,
.best-sellers__filter-title{
    display:none;
}

.hero-section{
    position:relative;
    padding:110px 1.2em 0 1.2em;
    z-index:2;
    max-width:1280px;
    margin:0 auto;
}

.hero-section__content-wrapper{
    display:flex;
    flex-direction:column;
    gap:3.5rem;
}

.hero-section__season-tag-container{
    display:flex;
    align-items:center;
    gap:1rem;
}

.hero-section__content,
.hero-section__btn-wrapper,
.categories__header{
    display:flex;
    flex-direction:column;
    gap:0.75rem;
}

.hero-section__btn-wrapper{
    gap:0.8rem;
}

.hero-section__img-wrapper{
    position:relative;
}

.hero-section__img-promotion{
    display:flex;
    position:absolute;
    bottom:-15px;
    left:-10px;
    width:280px;
    flex-direction:column;
    gap:.68rem;
    background-color:#fff;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.18);
    padding:1.5em;
}

.hero-section__img-label{
    display:flex;
    flex-direction:column;
    gap:.6rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding-bottom:.7em;
}

.hero-section__img-row{
    display:flex;
    justify-content:space-between;
}

.marquee-section{
    width:100%;
    max-width:1280px;
    margin:0 auto;
    margin-top:3em;
    padding:1em 1.2em;
    overflow:hidden;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.marquee-content,
.marquee-section{
    display:flex;
    align-items:center;
    white-space:nowrap;
}

.marquee-content{
    gap:1rem;
}

.marquee-track{
    display:flex;
    align-items:center;
    gap:1rem;
    animation:marquee-scroll 25s linear infinite;
}

@keyframes marquee-scroll {
  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-50%);
  }
}

.categories,
.best-sellers{
    max-width:1280px;
    margin:0 auto;
    padding:3.8em 1.2em;
}

.categories__header{
    margin-bottom:2.9em;
}

.categories__img-grid{
    display:grid;
    gap:clamp(1.5rem, 3vw, 2.5rem);
}

.categories__img-wrapper{
    display:grid;
    place-items:center;
}

.categories__img-label{
    display:flex;
    justify-content:center;
    position:absolute;
    background-color:#fff;
    bottom:clamp(16px, 3vw, 32px);
    width:80%;
    padding:1.5em;
    transition:background-color 0.3s ease;
}

.best-sellers,
.best-sellers__row{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

.best-sellers__row{
    padding:1em 0;
    gap:.7rem;
}

.best-sellers__label{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0;
    padding-bottom:.4em;
}

.best-sellers__down-arrow{
    display:flex;
    align-items:center;
}